<div class="bg-indigo-500 flex items-center justify-around px-8 py-4">
    <img src="assets/pepper.ico" alt="Pepper Icon" class="w-12"/>

    <p-megaMenu
            [model]="items"
            class="bg-transparent border-0 shadow-none"
            [style]="{ 'background': 'transparent', 'border': 'none', 'box-shadow': 'none', 'width': 'auto' }"
    >
        <ng-template #item let-item>
            @if (item.root) {
                <a
                        pRipple
                        class="flex items-center cursor-pointer px-8 py-2 overflow-hidden relative font-semibold text-lg uppercase transition-all rounded-full"
                        [routerLink]="item.routerLink"
                        [ngClass]="{
            'bg-white text-indigo-700 shadow-md': currentRoute() === item.routerLink,
            'text-white': currentRoute() !== item.routerLink
          }"
                >
                    <span>{{ item.label }}</span>
                </a>
            }
        </ng-template>
    </p-megaMenu>

    <img
            class="w-12 h-12 rounded-full object-cover"
            src="assets/pepper.ico"
            alt="User"
    />
</div>

<router-outlet></router-outlet>
