@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();
@import "tailwindcss";


$primary-color: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent-color: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$warn-color: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: $warn-color,
  )
));

@include mat.all-component-themes($theme);

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f4f6f8;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #00529e;
}

.topbar {
  display: flex;
  align-items: center;
  background-color: #00529e;
  color: #fff;
  padding: 0 1rem;
  height: 60px;
  
  button {
    margin-left: auto;
  }
}