@if (food && allergens) {
  <div class="container">
    <div class="food-form">
      <div class="form-group name-input-container">
        <input id="name" [(ngModel)]="food.Name" placeholder="Name" />
        <mat-form-field>
          <mat-label>Typ</mat-label>
          <mat-select [(ngModel)]="food.Type">
            <mat-option value="soup">Suppe</mat-option>
            <mat-option value="main">Hauptgericht</mat-option>
            <mat-option value="dessert">Nachspeise</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-group" id="saveAndImageUpload">
          <input type="file" id="picture" (change)="onFileSelected($event)" hidden #fileUpload>
          <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="fileUpload.click()">Neues Bild hochladen</button>
          <button mat-raised-button color="primary" id="saveButton" (click)="updateFood()">Speichern</button>
        </div>
      </div>
      <div class="form-content">
        <div class="allergens-column">
          <div class="form-group">
            <label>Allergene:</label>
            <div class="allergens">
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[0] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[0]" />
                <span class="checkbox-label">A - Gluten</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[1] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[1]" />
                <span class="checkbox-label">B - Krebstiere</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[2] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[2]" />
                <span class="checkbox-label">C - Eier</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[3] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[3]" />
                <span class="checkbox-label">D - Fisch</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[4] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[4]" />
                <span class="checkbox-label">E - Erdnüsse</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[5] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[5]" />
                <span class="checkbox-label">F - Sojabohnen</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[6] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[6]" />
                <span class="checkbox-label">G - Milch</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[7] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[7]" />
                <span class="checkbox-label">H - Schalenfrüchte</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[8] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[8]" />
                <span class="checkbox-label">L - Sellerie</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[9] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[9]" />
                <span class="checkbox-label">M - Senf</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[10] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[10]" />
                <span class="checkbox-label">N - Sesam</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[11] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[11]" />
                <span class="checkbox-label">O - Schwefeldioxid und Sulfite</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[12] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[12]" />
                <span class="checkbox-label">P - Lupinen</span>
              </label>
              <label class="checkbox-container" [ngClass]="{ selected: allergensChecked[13] }">
                <input type="checkbox" [(ngModel)]="allergensChecked[13]" />
                <span class="checkbox-label">R - Weichtiere</span>
              </label>
            </div>
          </div>
        </div>
        <div class="details-column">
          <div class="form-group">
            @if (food.Picture.Base64) {
              <img
                [src]="'data:' + food.Picture.MediaType + ';base64,' + food.Picture.Base64"
                [style.width.px]="img.width" [style.height.px]="img.height">
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}