.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.food-form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;

  h2 {
    margin-bottom: 1rem;
    color: #333;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .allergens-column,
  .details-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .allergens-column {
    order: 2;

    @media (min-width: 768px) {
      order: 1;
    }
  }

  .details-column {
    order: 1;

    @media (min-width: 768px) {
      order: 2;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: 1rem;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      user-select: none;
    }
  }

  #saveAndImageUpload {
    margin-left: auto;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  #saveButton {
    margin-left: 2rem;

    @media (max-width: 768px) {
      margin-left: 1rem;
    }
  }

  .form-group {
    margin-bottom: 1.5rem;

    &.name-input-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;
      width: 100%;
      max-width: 300px;

      @media (max-width: 480px) {
        max-width: 100%;
      }
    }

    label {
      font-size: 1rem;
      color: #666;
    }

    .allergens {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 0.5rem;
      background-color: #fff;
      transition: background-color 0.3s, border-color 0.3s;
      flex: 1 1 calc(50% - 1rem);
      box-sizing: border-box;

      input[type="checkbox"] {
        margin-right: 0.5rem;
      }

      .checkbox-label {
        white-space: nowrap;
      }

      @media (max-width: 480px) {
        flex: 1 1 100%;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button {
      padding: 0.75rem 1.5rem;
    }
  }
}

@media (max-width: 480px) {
  .food-form {
    padding: 1rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .button-container {
    justify-content: center;
  }
}