<div class="p-8 min-h-screen"> <!-- Heller Hintergrund -->
  
  <button (click)="goToUpload()" class="mt-0 w-full py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500">
    NEUES BILD HOCHLADEN
  </button>

  <div class="flex justify-between items-center mt-8">
    <h1 class="text-3xl font-bold">Bilder - Überblick</h1>
    <h1 class="text-3xl font-bold">{{images().length}} / {{standartImages().length}} Bilder</h1>
  </div>
  
  <div class="mt-0">
    <button [ngStyle]="{ 'background-color': activeButton() === 'All' ? '#90e0ef' : '#0077b6' }" 
            (click)="showAllImages()" 
            class="mt-6 me-2 px-6 py-3 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500">
      Alle Bilder
    </button>
    <button [ngStyle]="{ 'background-color': activeButton() === 'People' ? '#90e0ef' : '#0077b6' }" 
            (click)="showImageOfPersons()" 
            class="mt-6 me-2 px-6 py-3 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500">
      Personenbezogene Bilder
    </button>
    <button [ngStyle]="{ 'background-color': activeButton() === 'Stories' ? '#90e0ef' : '#0077b6' }" 
            (click)="showImageOfStories()" 
            class="mt-6 px-6 py-3 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500">
      Bilder für Mitmachgeschichten
    </button>
  </div>

  <div class="grid grid-cols-4 gap-6 mt-5">
    <div *ngFor="let image of images()" class="bg-white shadow-lg rounded-lg overflow-hidden" (click)="openPreview(image)">
      <!--TODO: if ändern-->
      @if (image.base64Image == "/9j/4AAQSkZJRgABAQEASABIAAA=") {
        <img src="../assets/images/defaultIcon2.jpg" class="w-full h-48 object-cover"> 
        <div class="p-4 bg-blue-600 text-white text-center font-semibold">
          {{ image.description }}
        </div>      
      }@else {
        <img [src]="'data:image/png;base64,' + image.base64Image" [alt]="image.description" class="w-full h-48 object-cover" />
        <div class="p-4 bg-blue-600 text-white text-center font-semibold">
          {{ image.description }}
        </div>
      }
    </div>
  </div>

  <div *ngIf="selectedImage()" class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50">
    <div class="bg-white rounded-xl overflow-hidden shadow-2xl max-w-3xl w-full p-4 relative">
      <button (click)="closePreview()" class="absolute top-2 right-2 text-xl font-bold text-gray-600 hover:text-black">✕</button>
  
      <img
        [src]="'data:image/png;base64,' + selectedImage()?.base64Image"
        [alt]="selectedImage()?.description"
        class="w-full max-h-[60vh] object-contain mb-4"
      />
      <div class="text-center font-semibold text-xl mb-4">
        {{ selectedImage()?.description }}
      </div>
      <div class="flex justify-center gap-4">
        <button
          (click)="downloadImage()"
          class="px-6 py-2 bg-green-600 text-white rounded-lg shadow hover:bg-green-500"
        >
          Download
        </button>
        <button
          class="px-6 py-2 bg-red-600 text-white rounded-lg shadow hover:bg-red-500"
        >
          Löschen
        </button>
      </div>
    </div>
  </div>
</div>
