* {
  box-sizing: border-box;
  overflow: hidden;
}

.week-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh; // Full viewport height
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .person-name {
    flex: 1;
    font-size: large;
  }
  
  .week-dates {
    text-align: right;
  }
  
  .week-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    height: 100%; // Full height minus the header
  }
  
  .day {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    box-sizing: border-box;
    
    &:hover {
      background-color: #e0e0e0;
      transform: scale(1.05);
    }
  
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    &-name {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    &-date {
      font-size: 1.2rem;
    }
  }

  .day.ordered {
    background-color: #c8e6c9;
  }

  .buttons {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.buttons button {
  font-size: 2vmin;
  padding: 2vmin 3vmin;
  margin: 1vmin;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #0056b3;
}

.back-button {
  font-size: 2vmin;
  padding: 0.5vmin 0.5vmin;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}