<div class="h-screen container mx-auto p-8 flex items-center justify-center">
    <div class="bg-white shadow-lg rounded-lg p-6 w-full max-w-md">
        <h1 class="text-3xl font-bold mb-6 text-center">Person - Detail</h1>

        <div class="flex flex-col space-y-4">
            <div class="flex flex-col space-y-1">
                <label class="font-bold text-lg">Vorname:</label>
                <input type="text" [(ngModel)]="firstName" class="rounded p-2 bg-gray-50 text-center w-full">
            </div>
            
            <div class="flex flex-col space-y-1">
                <label class="font-bold text-lg">Nachname:</label>
                <input type="text" [(ngModel)]="lastName" class="rounded p-2 bg-gray-50 text-center w-full">
            </div>
            
            <div class="flex flex-col space-y-1">
                <label class="font-bold text-lg">Zuständigkeit:</label>
                <select [(ngModel)]="selectedRole" 
                        (change)="onRoleChange($event)"
                        class="rounded p-2 bg-gray-50 text-center w-full">
                    <option value="" disabled selected>Rolle auswählen</option>
                    <option value="bewohner">Bewohner</option>
                    <option value="worker">Worker</option>
                </select>
            </div>
            
            <div class="flex flex-col space-y-1">
                <label class="font-bold text-lg">Geburtstag:</label>
                <input type="date" [(ngModel)]="dob" class="rounded p-2 bg-gray-50 text-center w-full">
            </div>

            <div class="flex flex-col space-y-1">
                <label class="font-bold text-lg">Passwort:</label>
                <input type="password" [(ngModel)]="password" class="rounded p-2 bg-gray-50 text-center w-full">
            </div>

            <div class="flex flex-col space-y-1">
                <label class="font-bold text-lg">Zimmer-Nr.:</label>
                <input type="text" [(ngModel)]="roomNo" class="rounded p-2 bg-gray-50 text-center w-full">
            </div>
            
            <div class="flex justify-center mt-6">
                <button [disabled]="!firstName() || !lastName() || !dob() || !password() || !roomNo()" (click)="addPerson()" routerLinkActive="router-link-active" style="background-color: #22BABB;" class="btn text-white">
                    Person hinzufügen
                </button>
                <button [routerLink]="['/residents']" routerLinkActive="router-link-active" style="background-color: #F24405;" class="ms-4 btn text-white">
                    Abbrechen
                </button>
            </div>
        </div>
    </div>
</div>