* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1vmin;
  height: calc(100vh - 12vmin);
  padding: 2vmin;
  overflow: hidden;
}

.meal:first-of-type {
  grid-column: 1;
  grid-row: 1;
}

.meal:last-of-type {
  grid-column: 1;
  grid-row: 2;
}

.dinner:first-of-type {
  grid-column: 2;
  grid-row: 1;
}

.dinner:last-of-type {
  grid-column: 2;
  grid-row: 2;
}

.meal,
.dinner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1.8vmin;
  background-color: #f8f9fa;
  flex: 1 1 auto;
  overflow: hidden;
  user-select: none;
}

.meal-image {
  width: 70%;
  height: auto;
  max-width: 40vmin;
  max-height: 40vmin;
  border-radius: 10px;
  transition: width 0.3s, height 0.3s;
}

.details {
  margin-top: 2vmin;
}

.dish-name,
.meal-type,
.allergens {
  font-size: 2vmin;
}

.selected {
  border-color: #28a745;
  background-color: #d4edda;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vmin;
}

.date-nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5vmin;
  padding: 1vmin 2.5vmin;
  transition: background-color 0.3s, transform 0.2s;
}

.date-nav-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.date-nav-button:focus {
  outline: none;
  box-shadow: 0 0 5px #0056b3;
}

.date-nav-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  transform: none;
}

.date-nav-button:disabled:hover {
  background-color: #cccccc;
  transform: none;
}

h1 {
  font-size: 3vmin;
  margin: 0 2vmin;
}

.header {
  margin-top: 2vmin;
  margin-bottom: 1vmin;
}

.back-button {
  font-size: 2vmin;
  padding: 0.5vmin 0.5vmin;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
}

@media (max-width: 600px) {
  .page-layout {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .buttons {
    flex-direction: row;
  }

  .buttons button {
    font-size: 3vmin;
    padding: 2vmin 3vmin;
  }

  .meal-image {
    width: 90%;
    max-width: 90vmin;
    max-height: 90vmin;
  }
}
