<div class="h-screen container p-8">
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h1 class="text-2xl font-bold mb-4">Personenübersicht</h1>
        <div class="flex justify-content-start items-center">
            <button routerLink="/residentAdd" class="btn btn-primary">Neue Person anlegen</button>
        </div>
        <div class="flex justify-end items-center mb-4">
            <!--<span class="mr-2">Filter für aktive Memories</span>
            <label class="switch">
                <input type="checkbox" [checked]="memoryFilterActive()" (change)="onMemoryFilterChange($event)">
                <span class="slider round"></span>
            </label>-->
        </div>

        <div class="bg-gray-200 grid grid-cols-2 font-bold">
            <div class="p-3 font-bold">Name</div>
            <div class="p-3 font-bold text-right">Löschen</div>
        </div>
        
        <div>
            @for (resident of residents(); track resident.id) {
            <div class="grid grid-cols-2 border-b py-3">
                <div class="flex items-center">
                    {{resident.firstName}} {{resident.lastName}}
                </div>
                <div class="flex items-center justify-between">
                    <button [routerLink]="['/residentDetails', resident.id]" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-4 rounded">Übersicht/Ändern</button>
                    
                   <!--<label class="switch ml-4">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>--> 
                    
                    <button (click)="deletePerson(resident.id)" class="ml-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-pink-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<style>
/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e83e8c;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
</style>


















